@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Pixel';
		src: local('pixel'), url('/fonts/VT323/VT323-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
}
